.ui-header h1.ui-title {
    margin-left:0;
    margin-right:0;
    font-size:24px;
}
#loading {
    margin: 10px auto 0;
}
a.ui-btn-icon-notext{ 
width: 48px;
height: 48px;
}
.ui-page .ui-header{
    height:102px;
}
.ui-btn-icon-notext span.ui-btn-inner {
padding: 5px 2px 4px 6px;
}
#two h1{
    margin-top:62px;
}
#flag {
height: 40px;
display: block;
margin: 5px auto;
}
